#inputId {
    text-align: center;
    background: #d0e1f9;
    color: #1e1f26
}

.error {
    color: #bbb;
    border: 2px solid #d00;
    background-color: #500;
    width: 80%;
    margin: 10px auto;
}

.normal {
    color: #fff;
}