.containerLayout {
    border: 2px solid #1e1f26;
    margin: auto 10%;
    background-color: #4d648d;
    color: #1e1f26;
}

#tituloLayout {
    text-align: center;
}

#rodapeLayout {
    text-align: center;
}

#containerChildren {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}