@media all and (min-width: 572px) {
    .containerLayout {
        width: 80%;
        font-size: 20px;
    }
}

@media all and (min-max: 572px) {
    .containerLayout {
        width: 80%;
        font-size: 20px;
    }
}

@media all and (min-width: 572px) {
    .containerLayout {
        width: 80%
    }
}

.containerLayout {
    border: 2px solid #e6e2d3;
    margin: auto 10%;
    background-color: #c1946a;
    color: #1e1f26;
    width: 80%;
}

#tituloLayout {
    text-align: center;
}

#rodapeLayout {
    text-align: center;
}

#containerChildren {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}