html {
    background-color: #283655;
}

.card {
    border: solid #1e1f26 1px;
    border-radius: 15px;
    min-width: 400px;
    max-width: 600px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}